@font-face {
	font-family: "Clear Sans";
	src: url("fonts/clearsans.woff")
}

header {
	display: inline-block;
	width: 510px;
	text-align: left;
	margin-top: 30px;
}

.caption{
	display: inline-block;

	font-size: 80px;
	font-weight: bold;
	font-family: Clear Sans;
	color: #776E65;
}

.scores {
	display: inline-block;
	text-align: right;
	width: 60%;
}

.new-game-panel{
	min-width: 100%;
}

body{
	background: #FAF8EF;
}

.wrapper{	
	text-align: center;
}

.game-field-wrapper{
	text-align: center;
	position: relative;
}

.end-game-info{
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);

	display: none;
}

.end-game-info .game-over {
	font-family: "Clear Sans";
	font-size: 60px;
	font-weight: bold;
	color: #736B62;
	margin-top: 100px;
	margin-bottom: 20px;
}

.my-button{
	display: inline-block;
	text-align: center;
	background-color: #BBADA0;
	padding: 5px 20px 0px 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	margin-left: 3px;
	font-family: Clear Sans;
}

.my-button .my-button-text {
	color: #EEE4DA;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
}

.my-button .my-button-number {
	color: #fff;
	font-weight: bold;
	font-size: 25px;
}

.new-game-panel{
	margin-top: 20px;
	margin-bottom: 30px;
}

.new-game-panel .game-description {
	display: inline-block;
	font-family: Clear Sans;
	font-size: 18px;	
	color: #776E65;
	padding-top: 5px;
}

button.new-game {
	background-color: #8F7A66;
	color: #F1EEEA;
	font-weight: bold;
	font-size: 18px;
	cursor: pointer;
	padding-bottom: 7px;
}

.new-game-panel button.new-game {
	float: right;
}

table#game-field {
	display: inline-block;
	height: 500px;
	width: 500px;
	border-collapse: collapse;
	position: relative;
	transition: 5s;
}

table#game-field tr{
	height: 125px;
}

table#game-field td{
	width: 125px;
	border: 10px solid #BBADA0;
	font-size: 55px;
	font-weight: bold;
	font-family: Clear Sans;

	box-sizing: border-box;
	min-height: 125px;
	min-width: 125px;
	max-height: 125px;
	max-width: 125px;
}

table#game-field td.tile-0{
	background-color: #CDC1B4;
}

table#game-field td.tile-2{
	background-color: #EEE4DA;
	color: #776E65;
} 
table#game-field td.tile-2::after{
	content: '2';
}

table#game-field td.tile-4{
	background-color: #EDE0C8;
	color: #776E65;
} 
table#game-field td.tile-4::after{
	content: '4';
}

table#game-field td.tile-8{
	background-color: #F2B179;
	color: #F9F6F2;
} 
table#game-field td.tile-8::after{
	content: '8';
}

table#game-field td.tile-16{
	background-color: #F59563;
	color: #F9F6F2;
} 
table#game-field td.tile-16::after{
	content: '16';
}

table#game-field td.tile-32{
	background-color: #F67C5F;
	color: #F9F6F2;
} 
table#game-field td.tile-32::after{
	content: '32';
}

table#game-field td.tile-64{
	background-color: #F65E3B;
	color: #F9F6F2;
} 
table#game-field td.tile-64::after{
	content: '64';
}

table#game-field td.tile-128{
	background-color: #EDCF72;
	color: #F9F6F2;
	font-size: 45px;
} 
table#game-field td.tile-128::after{
	content: '128';
}

table#game-field td.tile-256 {
	background-color: #F2C75E;
	color: #F9F6F2;
	font-size: 45px;
}
table#game-field td.tile-256::after{
	content: '256';
}

table#game-field td.tile-512 {
	background-color: #F4C250;
	color: #F9F6F2;
	font-size: 45px;
}
table#game-field td.tile-512::after{
	content: '512';
}

table#game-field td.tile-1024 {
	background-color: #F3BE3C;
	color: #F9F6F2;
	font-size: 37px;
}
table#game-field td.tile-1024::after{
	content: '1024';
}

table#game-field td.tile-2048 {
	background-color: #F6BC2B;
	color: #F9F6F2;
	font-size: 37px;
}
table#game-field td.tile-2048::after{
	content: '2048';
}

table#game-field td.tile-4096 {
	background-color: #FF4F3D;
	color: #F9F6F2;
	font-size: 37px;
}
table#game-field td.tile-4096::after{
	content: '4096';
}

table#game-field td.tile-8192 {
	background-color: #FF341D;
	color: #F9F6F2;
	font-size: 37px;
}
table#game-field td.tile-8192::after{
	content: '8192';
}

table#game-field td.tile-16384 {
	background-color: #FF331F;
	color: #F9F6F2;
	font-size: 30px;
}
table#game-field td.tile-16384::after{
	content: '16384';
}

table#game-field td.tile-32768 {
	background-color: #6DAEDC;
	color: #F9F6F2;
	font-size: 30px;
}
table#game-field td.tile-32768::after{
	content: '32768';
}

table#game-field td.tile-65536 {
	background-color: #589BE6;
	color: #F9F6F2;
	font-size: 30px;
}
table#game-field td.tile-65536::after{
	content: '65536';
}

table#game-field td.tile-131072 {
	background-color: #0073C5;
	color: #F9F6F2;
	font-size: 25px;
}
table#game-field td.tile-131072::after{
	content: '131072';
}

.low-text-wrapper {
	text-align: center;
}

.rules-description {
	width: 510px;
	margin-top: 50px;
	display: inline-block;
	text-align: left;
	padding-left: 10px;
	font-family: "Clear Sans";
	font-size: 18px;
	line-height: 33px;
	color: #736B62;
}


@media (max-width: 550px) {
header {
	width: 300px;
}

.caption{
	font-size: 30px;
}

.scores {
	float: right;
	width: 75%;
}

.end-game-info .game-over {
	font-size: 40px;
	width: 300px;
	margin-top: 80px;
	margin-bottom: 10px;
}

.my-button{
	padding: 3px 10px 0px 10px;
}

.my-button .my-button-number {
	font-size: 20px;
}

.new-game-panel{
	margin-top: 20px;
	margin-bottom: 30px;
}

.new-game-panel button.new-game {
	float: left;
	margin: 20px 0 20px 0;
}

table#game-field {
	height: 300px;
	width: 300px;
}


table#game-field tr{
	height: 75px;
}

table#game-field td{
	width: 75px;
	border: 5px solid #BBADA0;
	font-size: 35px;

	min-height: 75px;
	min-width: 75px;
	max-height: 75px;
	max-width: 75px;
}

table#game-field td.tile-128{
	font-size: 30px;
} 

table#game-field td.tile-256 {
	font-size: 30px;
}

table#game-field td.tile-512 {
	font-size: 30px;
}

table#game-field td.tile-1024 {
	font-size: 23px;
}

table#game-field td.tile-2048 {
	font-size: 23px;
}

table#game-field td.tile-4096 {
	font-size: 23px;
}

table#game-field td.tile-8192 {
	font-size: 23px;
}

table#game-field td.tile-16384 {
	font-size: 20px;
}

table#game-field td.tile-32768 {
	font-size: 20px;
}

table#game-field td.tile-65536 {
	font-size: 20px;
}

table#game-field td.tile-131072 {
	font-size: 15px;
}

.rules-description {
	width: 310px;
	margin-top: 20px;
	font-size: 15px;
	line-height: 25px;
}
}